<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <form action="/pizza/order" method="post">
    <label for="pizzaSelect">Виберіть піцу:</label>
    <select name="pizzaName" id="pizzaSelect">
      <% pizzas.forEach(pizza => { %>
        <option value="<%= pizza.name %>"><%= pizza.name %></option>
      <% }); %>
    </select>
    <br>
    <label for="name">Ваше ім'я:</label>
    <input type="text" name="name" id="name" required>
    <br>
    <label for="phone">Номер телефону:</label>
    <input type="tel" name="phone" id="phone" pattern="[0-9]+" required>
    <br>
    <label for="address">Введіть адресу доставки:</label>
    <input type="text" name="address" id="address" required>
    <br>
    <button type="submit">Замовити</button>
  </form>
</body>
</html>